$border-width: 3px;
$border-radius: 10px;

$shadow-offset: 4px;

$padding: 10px;

$font-brutal-weight: 700;
$font-normal-weight: 300;

$primary-color: #074E8D;
$secondary-color: #FFBC42;
$accent-color: #9723C9;
$success-color: #10b981;
$warning-color: #f59e0b;
$error-color: #ef4444;
$white-color: #FFFFFF;
$black-color: #000000;
